html {
  background-color: black;
}

#main {
  padding-left:20%;
  padding-top:10%;
}

#back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  background: url() no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  width:30%;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}


p {
  display:block;
  color:white;
  font-family: "chaparral-pro", serif;
  font-size:2.1em;
  width:30%;
  text-align:justify;
  -webkit-transition: opacity 0.5s ease-in .25s;
  -moz-transition: opacity 0.5s ease-in .25s;
  -o-transition: opacity 0.5s ease-in .25s;
  -ms-transition: opacity 0.5s ease-in .25s;
  transition: opacity 0.5s ease-in .25s;

}

.fade { opacity: 0; }
.load { opacity: 1; }


a {
  display:inline-block;
  text-decoration: none;
  border-bottom: 1px dotted white;
  color:white;
  line-height:1em;
}

a:hover { border-bottom: 1px solid white; }
