<div class="profile">
    <section id="wrapper">
        <header id="header">
            <img id="avatar" class="2x" src="/assets/images/avatar.jpeg"/>
            <h1>Kim Thoenen</h1>
            <h2>Python / Django Developer</h2>
            <h2>
                <a href="https://github.com/Chive" title="GitHub"><i class="fa fa-github"></i></a>&nbsp;
                <a href="https://ch.linkedin.com/in/kimthoenen" title="LinkedIn"><i class="fa fa-linkedin"></i></a>&nbsp;
                <script type="text/javascript">
                // http://hivelogic.com/enkoder/
                //<![CDATA[
                <!--
                var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
                "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
                "\\\\,l=x.length;for(i=0;i<l;i++){if(i==99)y+=i;y%=127;o+=String.fromCharCod" +
                "e(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\007\\\\\\\\013\\\\\\\\"+
                "006\\\\\\\\023\\\\\\\\n\\\\\\\\r\\\\\\\\007\\\\\\\\036E\\\\\\\\033\\\\\\\\0" +
                "37\\\\\\\\007\\\\\\\\033\\\\\\\\025\\\\\\\\035\\\\\\\\034[VI\\\\\\\\027W\\\\"+
                "\\\\020\\\\\\\\013\\\\\\\\037\\\\\\\\035A!\\\\\\\\\\\\\\\\m`kopj<ladJxaxtji" +
                "?q{H76cqmv~!A<RAHN\\\\\\\\177\\\\\\\\006\\\\\\\\033\\\\\\\\032N\\\\\\\\010J" +
                "FJ_^\\\\\\\\023s\\\\\\\\022WS\\\\\\\\023RT\\\\\\\\033GYI_I\\\\\\\\021MR^.$o" +
                ",\\\\\\\\030gx\\\\\\\\027\\\\\\\\003D\\\\\\\\020\\\\\\\\023\\\\\\\\037P\\\\" +
                "\\\\014\\\\\\\\021\\\\\\\\035\\\\\\\\016\\\\\\\\006\\\\\\\\014\\\"\\\\,99)\\"+
                "\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac}" +
                ";l=+l;x=+x{yrt{)29=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i " +
                "rav{)x(f noitcnuf\")"                                                        ;
                while(x=eval(x));
                //-->
                //]]>
                </script>
            </h2>
        </header>
    </section>
</div>